In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder , StandardScaler

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
import warnings
warnings.filterwarnings("ignore")

In [2]:
Train=pd.read_csv(r'C:\Users\Ahmed\Downloads\New folder\train.csv')

# Explore Data

In [3]:
#Train.head()
#Train.tail()
Train.sample(10)

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
8357,8357,Male,18.000000,1.791867,108.244379,yes,yes,2.000000,2.141839,Sometimes,no,1.082084,no,0.000000,1.922364,no,Public_Transportation,Obesity_Type_I
4834,4834,Male,25.140074,1.756550,115.428276,yes,yes,2.203962,3.000000,Sometimes,no,2.156870,no,1.815768,0.000000,Sometimes,Public_Transportation,Obesity_Type_II
12830,12830,Male,23.000000,1.700000,50.000000,yes,yes,2.000000,3.000000,Always,no,2.000000,no,0.000000,2.000000,no,Public_Transportation,Insufficient_Weight
14173,14173,Female,21.000000,1.600000,56.000000,no,yes,2.000000,3.000000,Sometimes,no,2.000000,no,1.000000,0.000000,no,Public_Transportation,Normal_Weight
12189,12189,Female,25.470652,1.628205,107.378702,yes,yes,3.000000,3.000000,Sometimes,no,2.554007,no,0.025787,0.484165,Sometimes,Public_Transportation,Obesity_Type_III
8903,8903,Male,37.056193,1.751031,117.861590,yes,yes,2.744994,3.000000,Sometimes,no,2.000000,no,0.822186,0.000000,Sometimes,Automobile,Obesity_Type_II
19519,19519,Female,18.000000,1.580000,40.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,no,1.000000,1.000000,Sometimes,Public_Transportation,Insufficient_Weight
4784,4784,Male,27.000000,1.650000,99.000000,yes,yes,2.000000,1.000000,Sometimes,no,1.000000,no,1.000000,1.000000,no,Public_Transportation,Obesity_Type_II
9722,9722,Male,23.000000,1.755978,51.881263,yes,yes,2.663421,3.000000,Frequently,no,2.000000,no,0.794402,2.000000,Sometimes,Public_Transportation,Insufficient_Weight
5237,5237,Female,26.000000,1.624560,110.922170,yes,yes,3.000000,3.000000,Sometimes,no,2.682804,no,0.000000,0.269560,Sometimes,Public_Transportation,Obesity_Type_III

In [4]:
Train.shape

(20758, 18)

In [5]:
Train.columns

Index(['id', 'Gender', 'Age', 'Height', 'Weight',
       'family_history_with_overweight', 'FAVC', 'FCVC', 'NCP', 'CAEC',
       'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS', 'NObeyesdad'],
      dtype='object')

In [6]:
Train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20758 non-null  int64
 1   Gender                          20758 non-null  object
 2   Age                             20758 non-null  float64
 3   Height                          20758 non-null  float64
 4   Weight                          20758 non-null  float64
 5   family_history_with_overweight  20758 non-null  object
 6   FAVC                            20758 non-null  object
 7   FCVC                            20758 non-null  float64
 8   NCP                             20758 non-null  float64
 9   CAEC                            20758 non-null  object
 10  SMOKE                           20758 non-null  object
 11  CH2O                            20758 non-null  float64
 12  SCC                             20758 non-null  object
 13  FAF                             20758 non-null  float64
 14  TUE                             20758 non-null  float64
 15  CALC                            20758 non-null  object
 16  MTRANS                          20758 non-null  object
 17  NObeyesdad                      20758 non-null  object
dtypes: float64(8), int64(1), object(9)
memory usage: 2.9+ MB

In [7]:
Train.isnull().sum()

id                                0
Gender                            0
Age                               0
Height                            0
Weight                            0
family_history_with_overweight    0
FAVC                              0
FCVC                              0
NCP                               0
CAEC                              0
SMOKE                             0
CH2O                              0
SCC                               0
FAF                               0
TUE                               0
CALC                              0
MTRANS                            0
NObeyesdad                        0
dtype: int64

In [8]:
Train.duplicated().sum()

0

In [9]:
Train.describe()

,id,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,20758.00000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000
mean,10378.50000,23.841804,1.700245,87.887768,2.445908,2.761332,2.029418,0.981747,0.616756
std,5992.46278,5.688072,0.087312,26.379443,0.533218,0.705375,0.608467,0.838302,0.602113
min,0.00000,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,5189.25000,20.000000,1.631856,66.000000,2.000000,3.000000,1.792022,0.008013,0.000000
50%,10378.50000,22.815416,1.700000,84.064875,2.393837,3.000000,2.000000,1.000000,0.573887
75%,15567.75000,26.000000,1.762887,111.600553,3.000000,3.000000,2.549617,1.587406,1.000000
max,20757.00000,61.000000,1.975663,165.057269,3.000000,4.000000,3.000000,3.000000,2.000000

# Transform Data

In [79]:
la=LabelEncoder()

In [80]:
obj=Train.select_dtypes(include='object')
non_obj=Train.select_dtypes(exclude='object')

In [81]:
for i in range(0,obj.shape[1]):
    obj.iloc[:,i]=la.fit_transform(obj.iloc[:,i])

In [82]:
obj=obj.astype("int")

In [14]:
data=pd.concat([obj,non_obj],axis=1)

In [15]:
test=pd.read_csv(r'C:\Users\Ahmed\Downloads\New folder\test.csv')

In [83]:
obj=test.select_dtypes(include='object')
non_obj=test.select_dtypes(exclude='object')
for i in range(0,obj.shape[1]):
    obj.iloc[:,i]=la.fit_transform(obj.iloc[:,i])
obj=obj.astype("int")    
test=pd.concat([obj,non_obj],axis=1)

In [17]:
test.head()

,Gender,family_history_with_overweight,FAVC,CAEC,SMOKE,SCC,CALC,MTRANS,id,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
0,1,1,1,2,0,0,2,3,20758,26.899886,1.848294,120.644178,2.938616,3.000000,2.825629,0.855400,0.000000
1,0,1,1,2,0,0,2,3,20759,21.000000,1.600000,66.000000,2.000000,1.000000,3.000000,1.000000,0.000000
2,0,1,1,2,0,0,2,3,20760,26.000000,1.643355,111.600553,3.000000,3.000000,2.621877,0.000000,0.250502
3,1,1,1,2,0,0,2,3,20761,20.979254,1.553127,103.669116,2.000000,2.977909,2.786417,0.094851,0.000000
4,0,1,1,2,0,0,2,3,20762,26.000000,1.627396,104.835346,3.000000,3.000000,2.653531,0.000000,0.741069

In [18]:
sc=StandardScaler()

In [19]:
scal1=data[['Age']]
scal2=data[['Weight']]
data['Age']=sc.fit_transform(scal1)
data['Weight']=sc.fit_transform(scal2)

In [20]:
data

,Gender,family_history_with_overweight,FAVC,CAEC,SMOKE,SCC,CALC,MTRANS,NObeyesdad,id,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
0,1,1,1,2,0,0,1,3,6,0,0.105699,1.699998,-0.235713,2.000000,2.983297,2.763573,0.000000,0.976473
1,0,1,1,1,0,0,2,0,1,1,-1.027052,1.560000,-1.170931,2.000000,3.000000,2.000000,1.000000,1.000000
2,0,1,1,2,0,0,2,3,0,2,-1.027052,1.711460,-1.430012,1.880534,1.411685,1.910378,0.866045,1.673584
3,0,1,1,2,0,0,1,3,4,3,-0.507929,1.710730,1.644770,3.000000,3.000000,1.674061,1.467863,0.780199
4,1,1,1,2,0,0,1,3,6,4,1.371197,1.914186,0.224054,2.679664,1.971472,1.979848,1.967973,0.931721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20753,1,1,1,2,0,0,1,3,3,20753,0.227725,1.766626,0.996987,2.919584,3.000000,2.151809,1.330519,0.196680
20754,1,0,1,1,0,0,1,3,0,20754,-1.027052,1.710000,-1.436296,3.000000,4.000000,1.000000,2.000000,1.000000
20755,1,1,1,2,0,0,2,3,3,20755,-0.657669,1.819557,0.670717,2.407817,3.000000,2.000000,1.158040,1.198439
20756,1,1,1,2,0,0,2,0,6,20756,1.760067,1.700000,-0.165574,2.671238,1.971472,2.144838,0.000000,0.973834
20757,1,1,1,2,0,0,1,3,3,20757,0.499051,1.816547,1.146645,3.000000,3.000000,2.003563,0.684487,0.713823

In [21]:
scal1=test[['Age']]
scal2=test[['Weight']]
test['Age']=sc.fit_transform(scal1)
test['Weight']=sc.fit_transform(scal2)

# Create model

In [22]:
x=data.drop(['NObeyesdad','id'],axis=1)
y=data['NObeyesdad']

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=21)

In [ ]:
model1=LogisticRegression()
model2=RandomForestClassifier()
model3=GaussianNB()
model4=SVC()
model5=XGBClassifier(learning_rate=0.1, max_depth=3, n_estimators=300)
model6=GradientBoostingClassifier(learning_rate=0.1, max_depth=5, n_estimators=300)

In [25]:
def pred(model):
    model.fit(x_train,y_train)
    pre=model.predict(x_test)
    print(classification_report(pre,y_test))

In [26]:
pred(model1)

              precision    recall  f1-score   support

           0       0.86      0.79      0.82       560
           1       0.72      0.71      0.71       642
           2       0.78      0.81      0.79       574
           3       0.96      0.92      0.94       634
           4       1.00      0.99      1.00       823
           5       0.58      0.67      0.62       418
           6       0.63      0.62      0.63       501

    accuracy                           0.81      4152
   macro avg       0.79      0.79      0.79      4152
weighted avg       0.81      0.81      0.81      4152

In [27]:
pred(model2)

              precision    recall  f1-score   support

           0       0.94      0.93      0.93       524
           1       0.90      0.85      0.88       668
           2       0.88      0.90      0.89       586
           3       0.97      0.97      0.97       609
           4       1.00      1.00      1.00       820
           5       0.74      0.84      0.79       425
           6       0.84      0.79      0.82       520

    accuracy                           0.91      4152
   macro avg       0.90      0.90      0.90      4152
weighted avg       0.91      0.91      0.91      4152

In [28]:
pred(model3)

              precision    recall  f1-score   support

           0       0.88      0.69      0.77       668
           1       0.47      0.64      0.54       459
           2       0.60      0.40      0.48       893
           3       0.93      0.69      0.79       826
           4       1.00      0.96      0.98       853
           5       0.27      0.61      0.38       217
           6       0.26      0.53      0.35       236

    accuracy                           0.66      4152
   macro avg       0.63      0.65      0.61      4152
weighted avg       0.74      0.66      0.69      4152

In [29]:
pred(model4)

              precision    recall  f1-score   support

           0       0.93      0.85      0.89       570
           1       0.78      0.81      0.79       610
           2       0.82      0.85      0.83       580
           3       0.97      0.95      0.96       618
           4       1.00      1.00      1.00       820
           5       0.63      0.72      0.67       422
           6       0.74      0.68      0.71       532

    accuracy                           0.85      4152
   macro avg       0.84      0.84      0.84      4152
weighted avg       0.86      0.85      0.85      4152

In [37]:
pred(model5)

              precision    recall  f1-score   support

           0       0.93      0.92      0.93       527
           1       0.89      0.86      0.88       648
           2       0.88      0.91      0.90       578
           3       0.98      0.96      0.97       614
           4       1.00      1.00      1.00       821
           5       0.77      0.83      0.80       447
           6       0.86      0.82      0.84       517

    accuracy                           0.91      4152
   macro avg       0.90      0.90      0.90      4152
weighted avg       0.91      0.91      0.91      4152

In [38]:
pred(model6)

              precision    recall  f1-score   support

           0       0.94      0.92      0.93       526
           1       0.90      0.87      0.88       650
           2       0.87      0.91      0.89       576
           3       0.97      0.96      0.97       612
           4       1.00      1.00      1.00       820
           5       0.78      0.84      0.81       449
           6       0.84      0.80      0.82       519

    accuracy                           0.91      4152
   macro avg       0.90      0.90      0.90      4152
weighted avg       0.91      0.91      0.91      4152

In [32]:
prim_grid={'n_estimators':[100,200,300],
         'learning_rate':[0.1,0.01,0.001],
          'max_depth':[3,5,7]}
scorer="accuracy"

In [35]:
m5=GridSearchCV(model5,prim_grid,scoring=scorer, n_jobs=-1)
m5.fit(x_train,y_train)
print(m5.best_params_)
print(m5.best_score_)

{'learning_rate': 0.1, 'max_depth': 3, 'n_estimators': 300}
0.904913943179167

In [39]:
testx=test.drop('id',axis=1)

In [40]:
prex=model5.predict(testx)

In [44]:
submission=pd.DataFrame({"id":test['id'],"NObeyesdad":prex})

In [88]:
submission['NObeyesdad']=la.inverse_transform(prex)

In [90]:
submission.to_csv("submission.csv",index=False)